{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <title>MOUAU voting</title>
  <link href="{% static 'main/css/halfmoon.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  {% block css %}{% endblock css %}

  <script src="https://kit.fontawesome.com/3e4d940317.js" crossorigin="anonymous"></script>

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars font-size-18" data-dm-shortcut-enabled="true"
  data-sidebar-shortcut-enabled="true" data-set-preferred-theme-onload="true">
  <!-- Modals go here -->
  {% block modal %}{% endblock modal %}

  <div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="full-height overlayed-sm-and-down">

    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>

    <nav class="navbar">
      <div class="navbar-content">
        <button class="btn btn-action" type="button" onclick="halfmoon.toggleSidebar()">
          <i class="fas fa-bars" aria-hidden="true"></i>
          <span class="sr-only">Toggle Sidebar</span>
        </button>

        <a href="{% url 'reg' %}" class="navbar-brand">
          MOUAU SUG E-VOTING
        </a>

        <ul class="navbar-nav d-none d-md-flex">
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          {% if view.request.user.username == 'staff' or view.request.user.username == 'admin' %}
            <li class="nav-item"><a class="nav-link" href="{% url 'register_candidate' %}">Register Candidate</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register_position' %}">Register Position</a></li>

            <form method="POST" action="{% url 'logout' %}" id='logout_form'>
            {% csrf_token %}
              <input type="submit" value="submit" />
            </form>

            {% if view.request.user.username == 'staff' %}
              <li class="nav-item"><a class="nav-link" href="#" onclick=logout()>Logout as Staff</a></li>
              {% elif view.request.user.username == 'admin' %}
              <li class="nav-item"><a class="nav-link" href="#" onclick=logout()>Logout as Admin</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

    <div class="sidebar">
      <div class="sidebar-menu">
        <a href="{% url 'reg' %}" class="sidebar-brand">
          E-voting
        </a>
        <button class="btn btn-action ml-20" type="button" onclick="halfmoon.toggleDarkMode()">
          <i class="fa fa-moon-o" aria-hidden="true"></i>
          <span>Toggle Dark mode</span>
        </button>
        {% if view.request.user.username == 'staff' %}
          <a class="ml-20 mt-10" href="#" onclick=logout()>Logout as Staff</a>
          {% elif view.request.user.username == 'admin' %}
          <a class="ml-20 mt-10" href="#" onclick=logout()>Logout as Admin</a>
          {% endif %}
      </div>

      <div class="sidebar-content">
        {% if view.request.user.username == 'staff' or view.request.user.username == 'admin' %}
          <h5 class="sidebar-title">Election Staff</h5>
          <div class="sidebar-divider"></div>
          <a href="{% url 'register_candidate' %}" class="sidebar-link">Register Candidate</a>
          <a href="{% url 'register_position' %}" class="sidebar-link">Register Position</a>
          <a href="{% url 'list' %}" class="sidebar-link">Staff List</a>
      </br>
        {% if view.request.user.username == 'admin' %}
        <h5 class="sidebar-title">Election Admin</h5>
        <div class="sidebar-divider"></div>
        <a href="{% url 'manage' %}" class="sidebar-link">Manage Election</a>
        <a href="{% url 'change-codes' %}" class="sidebar-link">Manage Codes</a>
        <a href="{% url 'result' %}" class="sidebar-link">Election Result</a>
        {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags|lower }} filled my-5" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block main %}{% endblock main %}
      </div>
    </div>
  </div>
  <script src="{% static 'main/js/halfmoon.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <script>
    const logout_input = document.querySelector("#logout_form input[type='submit']");
    logout_input.style.display = 'none';
    
    const logout = function() {
      logout_input.click();
    };
  </script>
  {% block js %}{% endblock js %}
</body>

</html>