{% extends 'main/no_sidebar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block nav %}
<nav class="navbar">
    <div class="navbar-content">
        <a href="{% url 'home' %}" class="navbar-brand">
            MOUAU SUG E-VOTING
        </a>

        <ul class="navbar-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        </ul>
    </div>
</nav>
{% endblock nav %}

{% block main %}
<p>You can add one deadly video or gif as background </p>

<div class="card w-md-full mx-auto ">
    <h4 class="card-title">Enter your MOUAU portal issued username and password</h4>
    <form action="{% url 'reg' %}" method="POST" class="">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger filled my-5" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
            {{ form.username.errors }}
            <label for={{ form.username.id_for_label }} class="required">Username</label>
            {{ form.username|add_class:"form-control"|attr:"required:required" }}
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            <label for={{ form.password.id_for_label }} class="required">Password</label>
            {{ form.password|add_class:"form-control"|attr:"required:required" }}
        </div>
        <input class="btn btn-primary" type="submit" value="submit" />
    </form>
</div>
{% endblock main %}
<script src="{% static 'main/js/halfmoon.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>

</html>